form {
	padding: 20px;
	width: 80%;
}

.registration-title {
	margin-bottom: 5rem;
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 1rem;
}


label[for="name"],
label[for="email"],
label[for="password"] {
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	padding: 6px;
  outline: none;
}

input[type="submit"] {
	background-color: hsl(0, 0%, 10%);
	border: none;
	outline: none;
	cursor: pointer;
	color: white;
	font-size: 17px;
	padding: 10px;
	transition: 0.4s;
}

input[type="submit"]:hover {
	background-color: hsl(0, 0%, 0%);
}

textarea {
  resize: none;
}

iframe {
  max-width: 100%;
}

.google {
  margin-top: 10px;
}

.signup-with-social-media {
  text-align: center;
}