* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

img,
svg {
	max-width: 100%;
}

section {
  margin-top: 100px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.flex-group {
  display: flex;
  align-items: center;
}

.grid-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.highlight {
  color: hsla(233, 100%, 67%);
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background-color: hsla(233, 100%, 67%);
  color: white;
  border-radius: 10px;
  padding: 12px 22px;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
}

.information-content {
  width: 50%;
}

.information-img {
  width: 50%;
}

.information-img {
  position: relative;
}

img[alt="info-1"] {
  position: absolute;
  top: -135px;
  right: 120px;
  z-index: 100;
}

img[alt="info-2"] {
  position: absolute;
  top: 0;
  right: 0;
}

input[type="email"],
input[type="submit"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  outline: none;
}

textarea {
  resize: none;
}

input[type="text"] {
  border: none;
  outline: none;
}

fieldset {
  padding: 8px;
  margin-bottom: 10px;
}