.single-product-main.flex-group {
  gap: 170px;
  padding: 50px 0;
}

.single-product-title {
  text-align: initial;
}

.single-product-desc {
  margin: 24px 0;
  color: #68707D;
}

.price {
  font-size: 30px;
}

.cart {
  margin-top: 20px;
}

.tag {
  font-weight: 900;
  color: #e55473;
  font-size: 12px;
  margin-bottom: 10px;
}

.desc-1 {
  margin-bottom: 20px;
}

.desc-1 p,
.about p {
  color: #68707D;
}